.modal-header{
  display: block;
} 
  .titleContainer {
    flex: 1;
    text-align: center;
  }
  
  .title {
    text-align: center;
  }
  
  .closeContainer {
    text-align: end;
    cursor: pointer;
  }
  
  .closeIcon {
    color: var(--header-background-color) !important;
    font-size: 28px;
  }
  