.footer{
    background-color: var(--footer-background-color);
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    color: var(--footer-color);
    margin-top:2%;
    line-height: 16px;
}

.footer-left{
    text-align: center;
}

.footer-left img{
    width:80%;
    margin: 10% 0;
}

.footer-links{
    display: block;
}

.footer-link{
    padding: 0;
    padding-top: 11%;
    color: var(--footer-color);
}

.footer-link:hover{
    color:var(--black);
    transform: scale(1.2);
    text-align: center;
}

.footer-bottom{
    width:100%;
    position: fixed;
    bottom: 0;
}

.footerMobile{
    background-color: var(--footer-background-color);
    padding: 2% 0;
    text-align: center;
}

.arrow-up::after {
    content: '\25B2'; 
    margin-left: 5px;
    color: var(--hover-btn);
  }
  
  .arrow-down::after  {
    content: '\25BC'; 
    margin-left: 5px;
    color: var(--hover-btn);
  }
  
.footerMobile p:last-child{
    margin-top: 5%;
    margin-bottom: 0;
}

.footerMobile p{
    line-height: 16px;
    margin-bottom: 2%;
}